backend/venv
backend/finance_dashboard_api.egg-info
backend/finance_dashboard_api/src/finance_dashboard_api.egg-info
backend/src/finance_dashboard_api.egg-info
backend/*.xlsx
dev/backend-db/database.db
dev/backend-db/profile_pictures
dev/backend-db/etoro_sheets
.env
backend/pytest-report.md
backend/__marimo__/session
backend/build/lib
__pycache__/
data-collector/target
data-collector/snapshots.csv
backend/historical-data/*.xlsx
backend/notebooks/__marimo__/session
backend/historical-data/cleaned/*.csv#
